*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}

.clock, .box{
    display: flex;
    flex-direction: column;
}

.clock{
    width: 20%;
    margin: auto;
}
.countdown{
    align-items: center;
    align-self: center;
}
.countdown span{
    font-size: 42px;
}
.btn{
    width: 80%;
    /* align-items: center;       */
    align-self: center; 
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}
#tomato{
    background-color: rgb(236, 54, 54);
    color: white;
}
#tomato:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
#short-break{
    background-color: rgb(68, 141, 163);
    color: white;
}
#long-break{
    background-color: rgb(63, 165, 68);
    color: white;
}
footer{
    /* bottom: 0; */
}

